.channels-link {
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: whitesmoke;

    position: absolute;
    top: 20%;
    right: 5%;
    left: 5%;
    margin: auto;
    padding: 5%;
}